.contenido {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.titulo {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  text-align: center;
}

header {
  margin: 5px;
  height: 15px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  scroll-margin-top: 1em;

}

.link {
  background-color: gray;
  margin: -2px;
  padding: 3px 8px;

}

.inf {
  border: 2px solid green;
  margin: 8px;
  border-radius: 20px;
  text-align: left;
  background-color: rgb(178, 172, 216);
}
.informe {
  text-align: left;
  margin: 10px;
  border: 3px solid red;
  display: inline-flex;
}
table, th, td{
  border: solid black 1px;
}
table {
  margin:auto;
  margin-bottom:15px;
}
th {
 font-weight: bold;
}
td {
 font-weight: lighter;
}
p {
  text-align: center;
}